<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ block "title" . }}{{ if .Params.meta_title }}{{ .Params.meta_title }}{{ else }}{{ .Title }} -
        {{.Site.Title }}{{ end }}{{ end }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ .Site.BaseURL }}favicon-32x32.png">
    {{ partial "head/google-fonts.html" . }}
    {{ partial "head/meta.html" . }}

    {{ $styles := resources.Get "/css/dist/style.css" | postCSS }}
    {{ if .Site.IsServer }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
    {{ else }}
    {{ $styles := $styles | minify | fingerprint | resources.PostProcess }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" />
    {{ end }}
</head>

<body class='page '>
    {{ partial "menu/menu-overlay.html" . }}
    <div class="container mx-auto px-6 md:px-4">
        {{ partial "header/header.html" . }}
        {{ block "main" . }}{{ end }}
        {{ partial "footer/footer.html" . }}
    </div>

    {{ $scripts := resources.Get "js/scripts.js" }}
    {{ $hamburger := resources.Get "js/hamburger.js" }}

    {{ $js := slice $scripts $hamburger | resources.Concat "js/bundle.js" }}

    {{ if .Site.IsServer }}
    <script type="text/javascript" src="{{ $js.RelPermalink }}"></script>
    {{ else }}
    <script type="text/javascript" src="{{ ($js | minify | fingerprint).RelPermalink }}"></script>
    {{ end }}

    {{ block "footer_js" . }}{{ end }}

    {{ partial "analytics/google-analytics.html" . }}
</body>

</html>