<div class="summary summary-row {{ if .Params.thumbnail }}summary-has-thumbnail{{ end }} {{ if .Params.icon }}summary-has-icon{{ end }}">
  {{ if .Params.thumbnail }}
      <div class="summary-thumbnail">
          <a href="{{ .Permalink }}"><img src="{{ .Params.thumbnail | relURL }}"/></a>
      </div>
  {{ end }}
  <div class="summary-content">
      <div class="summary-title">
          <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
      </div>
      <div class="summary-meta">
          {{ if .Params.authors }}
              <div class="summary-author">
                  {{ partial "components/author.html" . }}
              </div>
          {{ end }}
          {{ $dateFormat := default "Jan 2, 2006" (index .Site.Params "date_format") }}
          <div class="summary-date">
              {{ if not .Date.IsZero }}
                  <span class="post-date-date">{{ .Date.Format $dateFormat }}</span>
              {{ end }}
          </div>
      </div>
      <div class="summary-description">
          <p>{{ .Params.description }}</p>
      </div>

      {{ if .Params.categories }}
          <div class="summary-categories mt-auto">
              {{ range .Params.categories }}
                  <a class="summary-category" href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
              {{ end }}
          </div>
      {{ end }}
  </div>
</div>

