<header class="flex bg-white items-center justify-between py-6">
  <div class="hidden md:block">
    <a class="flex items-center hover:opacity-70 transition duration-300 ease-in-out" href="{{ site.BaseURL }}">
      {{ if site.Params.logo.showLogoImageOnDesktop }}
      <img class="mr-2" height="{{ site.Params.logo.logoDesktopImageHeight }}"
        width="{{ site.Params.logo.logoDesktopImageWidth }}" alt="{{ site.Params.title }} Logo"
        src="{{ site.Params.logo.logoDesktopImage | relURL }}" />
      {{ end }}
      {{ if site.Params.logo.showLogoTextOnDesktop }}
      <h2 class="text-2xl font-sans font-semibold">{{ site.Params.logo.logoDesktopText }}</h2>
      {{ end }}
    </a>
  </div>
  <div class="block md:hidden">
    <a class="flex items-center hover:opacity-70 transition duration-300 ease-in-out" href="{{ site.BaseURL }}">
      {{ if site.Params.logo.showLogoImageOnMobile }}
      <img height="{{ site.Params.logo.logoMobileImageHeight }}" width="{{ site.Params.logo.logoMobileImageWidth }}"
        alt="{{ site.Params.title }} Logo" src="{{ site.Params.logo.logoMobileImage | relURL }}" />
      {{ end }}
      {{ if site.Params.logo.showLogoTextOnMobile }}
      <h2 class="text-2xl font-sans font-semibold">{{ site.Params.logo.logoMobileText }}</h2>
      {{ end }}
    </a>
  </div>
  <button class="hover:opacity-70 transition duration-300 ease-in-out text-black" id="menu-trigger">
    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="28" height="28" viewBox="0 0 48 48">
      <path fill="currentColor"
        d="M 5.5 9 A 1.50015 1.50015 0 1 0 5.5 12 L 42.5 12 A 1.50015 1.50015 0 1 0 42.5 9 L 5.5 9 z M 5.5 22.5 A 1.50015 1.50015 0 1 0 5.5 25.5 L 42.5 25.5 A 1.50015 1.50015 0 1 0 42.5 22.5 L 5.5 22.5 z M 5.5 36 A 1.50015 1.50015 0 1 0 5.5 39 L 42.5 39 A 1.50015 1.50015 0 1 0 42.5 36 L 5.5 36 z">
      </path>
    </svg>
  </button>
</header>
