{{ $title := .title }}
{{ $description := .description }}
{{ $align := .align }}
{{ $date := .date }}

<div class="heading py-6 md:py-12 lg:w-10/12 {{ if eq $align "center" }}md:text-center mx-auto{{ end }}">
  {{ if $date }}
  {{ $dateFormat := default "Jan 2, 2006" (index site.Params "date_format") }}
  <div class="font-medium text-gray-700">{{ $date.Format $dateFormat  }}</div>
  {{ end }}
  <h1 class="heading text-4xl md:text-6xl font-bold font-sans md:leading-tight">
    {{ $title | safeHTML }}
  </h1>
  {{ if $description }}
  <h2 class="text-xl text-gray-600 mt-2">{{ $description | safeHTML }}</h2>
  {{ end }}
</div>